<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="d3" version="3.5.16" targetFramework="net452" />
  <package id="d3.TypeScript.DefinitelyTyped" version="2.6.6" targetFramework="net452" />
  <package id="jQuery" version="2.2.3" targetFramework="net452" />
  <package id="jquery.TypeScript.DefinitelyTyped" version="3.0.6" targetFramework="net452" />
  <package id="Microsoft.CodeDom.Providers.DotNetCompilerPlatform" version="1.0.0" targetFramework="net452" />
  <package id="Microsoft.Net.Compilers" version="1.0.0" targetFramework="net452" developmentDependency="true" />
</packages>