#snazzyTableContainer {
  background-color: #EFEFEF;
  overflow:auto;
}

#snazzyTable {
  border-collapse: collapse;
}

#snazzyTable th, #snazzyTable td {
  padding: 4px;
  padding-left: 8px;
  padding-right: 8px;
  border: 1px solid #888;
}

#snazzyTable th {
  background-color: black;
  color: white;
}

#snazzyTable td {
  background-color: white;
  color: #333;
}
