/* CPT Colors: { Red: #9F1B30, Orange: #D16B2C, Yellow: #FEBF0F } */

* {
  box-sizing: border-box;
}

body {
  margin: 0px;
  padding: 0px;
  overflow-y: hidden;
}

h1, .h1, h2, .h2, h3, .h3 {
  margin-top: 8px;
  line-height: 1em;
}

#banner {
  height: 48px;
  padding: 0px;
  color: white;
  background-color: black;
  border-bottom: 1px solid black;
}

#app-icon {
  float: left;
  height: 48px;
  width: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(../Content/img/AppIcon.png);
}

#app-title {
  display: flex;
  align-items: center;
  margin-left: 48px;
  height: 48px;
  padding-left: 16px;
  font-size: 24px;
  white-space: nowrap;
  overflow: hidden;
}

#top-nav {
  float: right;
  height: 48px;
  display: flex;
  align-items: center;
  padding-top: 4px;
  padding-right: 16px;
  padding-left: 0px;
}

  #top-nav ul {
    line-height: 1em;
    margin-bottom: 0px;
  }


    #top-nav ul li {
      display: inline-block;
      margin-right: 4px;
      color: #FEBF0F;
    }

  #top-nav li a, #top-nav li a:visited, #top-nav li a:active {
    color: #FEBF0F;
    text-decoration: none;
  }

.contentBody {
  /* transition: all 0.1s ease; */
  margin-left: 240px;
}

.contentBodyNavigationCollapsed {
  /* transition: all 0.1s ease; */
  margin-left: 48px;
}

#left-nav {
  height: 800px;
}

.navigationPane {
  /* transition: all 0.1s ease; */
  float: left;
  width: 240px;
  padding: 0px;
  background-color: black;
}

.navigationPaneCollapsed {
  /* transition: all 0.1s ease; */
  width: 48px;
}


#left-nav-toggle:hover, .leftNavIcon:hover {
  color: #FEBF0F;
  background-color: #9F1B30;
  cursor: pointer;
}

.leftNavHide {
  visibility: hidden;
}

.leftNavIcon {
  float: left;
  color: #FEBF0F;
  font-size: 24px;
  width: 48px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.leftNavTitle {
  height: 40px;
  margin-left: 52px;
  display: flex;
  align-items: center;
  color: #FEBF0F;
  padding-top: 8px;
  font-size: 20px;
}


.leftNavMenu {
  margin-left: 10px;
  padding-top: 12px;
  padding-left: 12px;
  padding-bottom: 4px;
  background-color: lightyellow;
  margin-right: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

ul.leftNavMenu {
  padding-top: 4px;
  padding-left: 0px;
}


  ul.leftNavMenu li {
    margin-left: 4px;
    list-style: none;
    padding: 2px;
    padding-left: 8px;
    color: white;
    border-radius: 2px;
    margin-right: 4px;
  }

    ul.leftNavMenu li:hover {
      color: #9F1B30;
      background-color: #FEBF0F;
      font-weight: bold;
      cursor: pointer;
    }

    ul.leftNavMenu li a, ul.leftNavMenu li a:hover,
    ul.leftNavMenu li a:active, ul.leftNavMenu li a:visited {
      color: #9F1B30;
      text-decoration: none;
    }

.leftNavMenu label, .leftNavMenu input {
  color: #9F1B30;
  font-weight: normal;
}

#viz {
  margin: 0;
  padding: 0;
  overflow-y: hidden;
}


.axis path,
.axis line {
  fill: none;
  stroke: black;
  shape-rendering: crispEdges;
}

.axis text {
  font-family: sans-serif;
  font-size: 11px;
}

.plot-area {
  fill: bisque;
  fill-opacity: 0.4;
  stroke: black;
  stroke-width: 2;
}

path {
  stroke: steelblue;
  stroke-width: 2;
}

line {
  stroke: red;
}


area, .area {
  fill: aquamarine;
}

.arc {
  fill: blanchedalmond
}

.plot-area{
  background-color: yellow;
}