.visual-PBI_CV_46875942_DDAD_4AE8_9E1D_5F2E68779F1B_DEBUG #myTable {
  background-color: black;
  font-size: 32px;
}
.visual-PBI_CV_46875942_DDAD_4AE8_9E1D_5F2E68779F1B_DEBUG #myTable td {
  background-color: lightyellow;
  color: darkblue;
  padding: 12px;
}
